spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/inventory_db
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration

mybatis:
  mapper-locations: classpath:mappers/*.xml
  type-aliases-package: com.inventory.model
  configuration:
    map-underscore-to-camel-case: true


server:
  address: 0.0.0.0
  port: 8080
