<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inventory.dao.StockDao">

    <select id="findByProductId" resultType="com.inventory.model.product.Stock">
        SELECT * FROM stock WHERE product_id = #{productId}
    </select>

    <insert id="insert" parameterType="com.inventory.model.product.Stock" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO stock (product_id, quantity)
        VALUES (#{productId}, #{quantity})
    </insert>

    <update id="increase">
        UPDATE stock
        SET quantity = quantity + #{qty}, last_updated = CURRENT_TIMESTAMP
        WHERE product_id = #{productId}
    </update>

    <update id="decrease">
        UPDATE stock
        SET quantity = quantity - #{qty}, last_updated = CURRENT_TIMESTAMP
        WHERE product_id = #{productId} AND quantity &gt;= #{qty}
    </update>
    <select id="sumQuantity" resultType="long">
        SELECT COALESCE(
        (SELECT COUNT(*) FROM rfid_event WHERE location = 'STOCK' AND event_type = 'ENTRY') -
        (SELECT COUNT(*) FROM rfid_event WHERE location = 'STOCK' AND event_type = 'EXIT'),
        0)
    </select>

    <select id="findAll" resultType="com.inventory.model.product.Stock">
        SELECT * FROM stock ORDER BY last_updated DESC
    </select>


</mapper>
